@import url('https://fonts.googleapis.com/css?family=Montserrat');

html, body {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    color: #aaa;
    height: 100vh;
    background: #2E4374;
    background: radial-gradient(at center, #4B527E, #4B527E);
    margin: 0;
}
h1 {
  padding-left: 5%;
  font-size: 3.5em; 
  color: #E5C3A6;
}

h1 {
  color: #E5C3A6;
  padding-left: 5%;
  font-size: 2em;
}
.intro {
  font-weight: 400;
}

.txt-rotate {
  font-weight: 550;
}
.welcome {
  color: #E5C3A6;
  padding-left: 5%;
  font-size: 3em;
  font-weight: 550;
}
h2 {
    color: #E5C3A6;
    font-size: 2em;
    padding-left: 5%;
}

.topnav {
    padding-left: 5%;
    overflow: hidden;
    background-color: #ffffff;
    margin-bottom: 5%;
    width: 100%;
}

.topnav a {
    float: left;
    color: #4B527E;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
}

.topnav a:hover {
    color: #E5C3A6;
}

.topnav a.active {
    background-color: #7C81AD;
    color: rgb(255, 255, 255);
}
